<h1>Add a customer to <%= @stylist.name() %>'s List </h1>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">
  <label for="name">Customer Name:</label>
  <input id="name" name="name" type="text">
  <label for="phone_number">Phone Number:</label>
  <input id="phone_number" name="phone_number" type="text">
  <button type="submit">Add Customer</button>
</form>

<% if @stylist.clients().any?() %>

<h3>Here's all <%= @stylist.name() %>'s clients:</h3>
<ul>
  <% @stylist.clients().each() do |customer| %>
  <li>
    <%= customer.name() %>, <%= customer.phone_number() %>

    <form action="/clients/<%= customer.id() %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit">Delete This Customer</button>
    </form>
  </li>
  <% end %>

</ul>
<% else %>
<p>He has no clients yet.</p>
<% end %>


<form method="link" action="/stylists/<%= @stylist.id() %>/edit">
  <input type="submit" value="Edit <%= @stylist.name() %>'s Name">
</form>
<form action="/stylists-1/<%= @stylist.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete <%= @stylist.name() %> the Stylist</button>
</form>
<p><a href="/">Return to Main Page</a></p>
